@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-rowdies: Rowdies, sans-serif;
  --font-popins: Poppins, sans-serif;
}
@import "tailwindcss";
body {
  background-color: #f5f5f5;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  
}
.container-scroll {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.container-scroll::-webkit-scrollbar {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
.customer_scroll {
  flex-shrink: 0;
  scroll-snap-align: start;
}
.scroll_middle {
  scroll-snap-align: start;
}
.collapsible {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.collapsible.open {
  max-height: 500px; /* or whatever fits your content */
}

.container_bothFrom::-webkit-scrollbar {
  display: none;
}
.auto-border.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: rgb(255, 255, 255);
  animation: fillprogress 5s linear forwards;
}
.list_provinces::-webkit-scrollbar,
.custom-scrollY::-webkit-scrollbar {
  width: 3px;
}
.list_provinces::-webkit-scrollbar-track,
.custom-scrollY::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}
.list_provinces::-webkit-scrollbar-thumb,
.custom-scrollY::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 5px;
}
.search::-webkit-search-cancel-button {
  display: none;
}
.custom-scroll-counter::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll-counter::-webkit-scrollbar-thumb {
  background-color: rgb(236, 72, 153);
  border-radius: 5px;
}
.custom-scroll-counter::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}
@keyframes fillprogress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.animation {
  animation: toRight 1s linear infinite;
}
@keyframes toRight {
  0% {
    transform: translateX(-0.3rem);
  }
  100% {
    transform: translateX(0.3rem);
  }
}
/* in your main CSS file or index.css */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}
.fade-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}

.fade-left.active {
  opacity: 1;
  transform: translateX(0);
}
.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}
